<p-toast position="top-center"></p-toast>
<div class="ui-g" id="papaya-box">
  <div class="ui-g-8 ui-g-nopad">
    <h5>Konfiguracja Jiry 1</h5>

    <div class="ui-g-12">
      <p class="first">Klucz publiczny: {{jiraConfig.key}}</p>
    </div>

    <div class="ui-g-12">
      <p>Intrukcja:
      <a href="https://developer.atlassian.com/server/jira/platform/oauth/">
        https://developer.atlassian.com/server/jira/platform/oauth/</a>
      </p>
    </div>

    <div class="ui-g-12">
      <p-button label="Anuluj" icon="pi pi-arrow-left"
                [routerLink]="['/projects']" class="mr-2">
      </p-button>
      <p-button label="Kontynuuj" icon="pi pi-plus"
                (onClick)="handleClick()">
      </p-button>
    </div>
  </div>
  <div class="ui-g-4 ui-g-nopad">
    <div style="display: flex; justify-content: center">
      <img src="../../../assets/papaya-logo.png" alt="papaya-logo">
    </div>
  </div>
</div>

