<p-toast position="top-center"></p-toast>
<div class="center">
  <p-card>
    <div style="display: flex; justify-content: center">
      <img src="../../../assets/papaya-logo.png" alt="papaya-logo">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="ui-float-label" style="margin-top: 40px">
          <input id="float-username" type="text" size="30" formControlName="username" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }" pInputText>
          <label for="float-username">Username</label>
        </div>
      </div>

      <div class="form-group">
        <div class="ui-float-label" style="margin-top: 20px">
          <input id="float-password" type="password" size="30" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <label for="float-password">Password</label>
        </div>
      </div>

      <div class="form-group">
        <p-button [disabled]="loading" label="Log in"></p-button>
      </div>
    </form>
  </p-card>
</div>
