<p-toast position="top-center"></p-toast>
<app-menubar [userRole]="this.storeService.currentProject?.userRole"
             [currentProjectName]="this.storeService.currentProject?.name"></app-menubar>
<p-card header="Nowy sprint">
  <div class="ui-g">
    <div class="ui-g-7 ui-g-nopad">

      <div class="ui-g-12">
        <p>Nazwa:</p>
        <input style="width: 90%" type="text" pInputText [(ngModel)]="newSprint.name"/>
      </div>

      <div class="ui-g-12">
        <p>Wiadomość dla zespołu:</p>
        <textarea style="width: 90%; margin-bottom: 20px" [rows]="2"
                  pInputTextarea [(ngModel)]="newSprint.notificationMessage">
        </textarea>
      </div>

      <div class="ui-g-6">
        <p class="text-secondary">Data rozpoczęcia zapisów:</p>
        <p-calendar [(ngModel)]="enrollmentPeriodStartDate"
                    [maxDate]="enrollmentPeriodEndDate" [showIcon]="true"
                    dateFormat="dd.mm.yy" showTime="true"
                    showSeconds="true" hourFormat="24">
        </p-calendar>
      </div>

      <div class="ui-g-6">
        <p class="text-secondary">Data zakończenia zapisów:</p>
        <p-calendar [(ngModel)]="enrollmentPeriodEndDate"
                    [minDate]="enrollmentPeriodStartDate"
                    [maxDate]="durationPeriodStartDate" [showIcon]="true"
                    dateFormat="dd.mm.yy" showTime="true"
                    showSeconds="true" hourFormat="24">
        </p-calendar>
      </div>

      <div class="ui-g-6">
        <p class="text-primary">Data otwarcia:</p>
        <p-calendar [(ngModel)]="durationPeriodStartDate"
                    [minDate]="enrollmentPeriodEndDate"
                    [maxDate]="durationPeriodEndDate" [showIcon]="true"
                    dateFormat="dd.mm.yy" showTime="true"
                    showSeconds="true" hourFormat="24">
        </p-calendar>
      </div>

      <div class="ui-g-6">
        <p class="text-primary">Data zamknięcia:</p>
        <p-calendar [(ngModel)]="durationPeriodEndDate"
                    [minDate]="durationPeriodStartDate" [showIcon]="true"
                    dateFormat="dd.mm.yy" showTime="true"
                    showSeconds="true" hourFormat="24">
        </p-calendar>
      </div>

      <div class="ui-g-12 controls">
        <p-button label="Stwórz" icon="pi pi-plus"
                  (onClick)="createSprint()">
        </p-button>
      </div>
    </div>
    <div class="ui-g-5 ui-g-nopad">
      <h5>Sprinty w projekcie</h5>
      <p-table [value]="sprints" [resizableColumns]="true" [scrollable]="true" scrollHeight="300px">
        <ng-template pTemplate="header">
          <tr>
            <th class="action-column"></th>
            <th class="name-column">Nazwa</th>
            <th class="date-column">Zapisy</th>
            <th class="date-column">Sprint</th>
            <th>Stan</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sprint>
          <tr>
            <td class="action-column">
              <p-button class="show-on-hover-content" icon="pi pi-trash" (onClick)="deleteSprint(sprint)"></p-button>
            </td>
            <td class="name-column">{{sprint.name }}</td>
            <td class="date-column">{{sprint.enrollmentPeriod.start | date: 'dd-MM'}}
              - {{sprint.enrollmentPeriod.end | date: 'dd-MM'}}</td>
            <td class="date-column">{{sprint.enrollmentPeriod.start | date: 'dd-MM'}}
              - {{sprint.enrollmentPeriod.end | date: 'dd-MM'}}</td>
            <td>{{sprintStateMap[sprint.sprintState]}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
