.controls {
    margin-top: 30px;
}

.action-column {
    border-left: none !important;
    width: 100px;
}

.last-column {
    border-right: none !important;
}

.show-on-hover-content {
    opacity: 0;
    transition: opacity .35s ease;
}

tr:hover .show-on-hover-content {
    opacity: 1;
}