.action-column {
    border-left: none !important;
    width: 60px;
}

.last-column {
    border-right: none !important;
}

td {
    transition: background .25s ease;
}

.highlight-on-hover-content:hover td {
    background: #007ad9cc !important;
}

.clickable {
    cursor: pointer;
}

.overlay {
    position: absolute;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
}
