#projects-table {
    border: solid lightgrey;
    background-color: whitesmoke;
    margin: 10px 0 10px 0;
    min-height: 300px;
    position: relative;
}

#new-project-button {
    margin-top: 32px;
}
