<p-toast position="top-center"></p-toast>
<app-menubar></app-menubar>

<p-card header="Dostępne projekty">
  <div class="overlay" *ngIf="isLoading">
    <div class="spinner-wrapper">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-10">
      <p-table [value]="projects">
        <ng-template pTemplate="header">
          <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Współczynnik początkowy</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
          <tr class="highlight-on-hover-content clickable" (click)="handleClick(project)">
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>{{project.initialCoefficient}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-2 controls">
      <p-button label="Nowy projekt"
                icon="pi pi-plus" [routerLink]="['/projects/new-project']">
      </p-button>
    </div>
  </div>
</p-card>
