<app-menubar></app-menubar>

<div id="excel-table">
    <ng-template [ngIf]="contentExists">
        <div class="ui-g" id="availability-table">
            <div class="ui-g-8">
                <h5>
                    Dostępność dla sprintu: <span class="bold">{{sprintStartDate | date: 'dd-MM-yyy'}}</span> - <span class="bold">{{sprintEndDate | date: 'dd-MM-yyyy'}}</span>
                </h5>
                <div *ngIf="inProgress" class="during">Trwa podawanie dostępności</div>
                <p-table [value]="workers">
                    <ng-template pTemplate="header">
                        <th>Lp.</th>
                        <th>Osoba</th>
                        <th>Zadeklarowane godziny</th>
                        <th>Zaległe godziny</th>
                        <th>Notatki</th>
                    </ng-template>
                    <ng-template pTemplate="body" let-worker>
                        <tr>
                            <td>{{worker.id}}</td>
                            <td [ngClass]="{'gray-user': worker.timeAvailable==''}">
                                {{worker.name}}
                            </td>
                            <td>{{worker.timeAvailable}}</td>
                            <td>{{worker.timeRemaining}}</td>
                            <td>{{worker.notes}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <hr>
            </div>
        </div>
        <div id="availability-summary">
            <div class="ui-g">
                <div class="ui-g-2">
                    <h5>Suma godzin</h5>
                </div>
                <div class="ui-g-1">
                    <span>{{hoursSum}}</span>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-2">
                    <h5>Aktualny współczynnik</h5>
                </div>
                <div class="ui-g-1">
                    <span>{{actualRate}}</span>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="!contentExists">
        <div>
            Obecnie nie ma żadnego sprintu, dla którego można wyświetlić dostępność
        </div>
    </ng-template>
    <p-button *ngIf="canClose"
              label="Zamknij sprint"
              (click)="closeSprint()"
              class="button">
    </p-button>
    <p-button *ngIf="!canClose"
              [disabled]="true"
              label="Zamknij sprint"
              class="button">
    </p-button>
</div>