<p-toast position="top-center"></p-toast>
<app-menubar></app-menubar>

<p-card header="Nowy projekt">
  <div class="ui-g" id="papaya-box">
    <div class="ui-g-8 ui-g-nopad">
      <div class="ui-g-4">
        <p>Nazwa:</p>
        <input style="width: 95%" type="text" pInputText [(ngModel)]="project.name"/>
      </div>

      <div class="ui-g-8">
        <p style="margin-bottom: 8px;">Współczynnik początkowy:
          <input pKeyFilter="num" type="text" style="width: 20%; border: 1px solid lightgrey"
                 pInputText [(ngModel)]="project.initialCoefficient"/>
        </p>
        <p-slider [(ngModel)]="project.initialCoefficient" [style]="{'width':'100%'}"
                  [min]="0" [max]="10" [step]="0.01">
        </p-slider>
      </div>

      <div class="ui-g-12">
        <p class="text-secondary">Opis:</p>
        <textarea style="width: 100%" [rows]="2"
                  pInputTextarea [(ngModel)]="project.description">
        </textarea>
      </div>

      <div class="ui-g-12">
        <p>Adres Jiry:</p>
        <input type="text" style="width: 100%" pInputText [(ngModel)]="project.jiraUrl"/>
        <hr/>
      </div>

      <div class="ui-g-12">
        <p-panel [toggleable]="true" [collapsed]="true" [toggler]="'header'">
          <p-header>
            <img class="webhook-icon" src="../../../assets/rocket-logo.png" alt="rocket-logo">
            <img class="webhook-icon" src="../../../assets/slack-logo.png" alt="slack-logo">
            Konfiguracja powiadomień
          </p-header>
          <p class="text-secondary" style="margin-bottom: 10px;">
            Nazwa kanału:
            <input style="margin-left: 18.5px; width: 82%" type="text" pInputText [(ngModel)]="project.channelName"/>
          </p>
          <p class="text-secondary">
            Adres webhooka:
            <input style="width: 82%" type="text" pInputText [(ngModel)]="project.webhookUrl"/>
          </p>
        </p-panel>
      </div>

      <div class="ui-g-12">
        <p-button label="Anuluj" icon="pi pi-arrow-left"
                  [routerLink]="['/projects']" class="mr-2">
        </p-button>
        <p-button label="Stwórz" icon="pi pi-plus"
                  (onClick)="handleClick()">
        </p-button>
      </div>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <div style="display: flex; justify-content: center">
        <img src="../../../assets/papaya-logo.png" alt="papaya-logo">
      </div>
    </div>
  </div>
</p-card>
