/* You can add global styles to this file, and also import other style files */

#papaya-box {
    border: solid lightgrey;
    background-color: whitesmoke;
    margin: 10px 0 10px 0;
    padding: 10px;
    min-height: 300px;
    position: relative;
}
